{% extends "base.html" %}

{% load i18n %}
{% load openid_tags %}
{% block login %}
    {% if user.is_authenticated %}
        <b>{{ user }}</b> | <a href="{% url acct_email %}">{% trans "Account" %}</a> | {% if user.is_staff %}<a href="/admin/">{% trans "Admin" %}</a> | {% endif %}<a href="{% url openid_logout %}?next={% url acct_logout %}">{% trans "Abmelden" %}</a>
    {% else %}
        <a href="{% url acct_login %}">{% trans "Anmelden" %}</a> | <a href="{% url acct_signup %}"><b>{% trans "Registrieren" %}</b></a>
    {% endif %}
{% endblock %}

{% block logo_link_image %}<a href="{% url home %}"><img src="/site_media/logo.png" alt="Pinax"/></a>{% endblock %}

{% block tabs %}
{% comment %}
    <table>
        <tr>
            <td class="tab tab_home"><div><a href="{% url home %}">{% trans "Home" %}</a></div></td>
        </tr>
    </table>
{% endcomment %}
{% endblock %}

{% block right_tab %}
    {% if user.is_authenticated %}
        <table>
            <tr>
                <td class="tab rtab_profile"><div><a href="{% url profile_detail user %}">{% trans "Profile" %}</a></div></td>
                <td class="tab rtab_notices"><div><a href="{% url notification.views.notices %}">{% trans "Notices" %}{% if notice_unseen_count %} ({{ notice_unseen_count }}){% endif %}</a></div></td>
            </tr>
        </table>
    {% endif %}
{% endblock %}

{% block footer %}
<div class="legal">
    {% trans "&copy; 2008 by TimeToChange" %}
    - <a href="{% url aboutus %}">{% trans "About us" %}</a>
    - <a href="{% url terms %}">{% trans "Kontakt" %}</a>
    - <a href="{% url terms %}">{% trans "AGB" %}</a>
</div>
{% endblock %}
