{% extends "site_base.html" %}

{% load i18n %}

{% block body %}
    {% blocktrans %}

	            <h1>About Us</h1>
		    <p>
		    Timetochange ist eine Coaching Firma, die sich mit Deinem Erfolg beschäftigt. Unsere Coaches bieten Einzel- und Gruppenseminare, sowie(Wochenend-)Workshops zu den Themen Verführung und Persönlichkeitsentwicklung wie zum Beispiel:<br /></p>
		    <ol>
			<li>
		    <p>Verführung - innere und äussere Persönlichkeitsentwicklung</p>
			</li>
			<li>
		    <p>Adventure-Events</p>
			</li>
			<li>
		    <p>Hypnose-Sitzungen</p>
			</li>
			<li>
		    <p>Coachings in neurolinguistischer Programmierung</p>
			</li>
		    </ol>
		    <p>
		    Die Theorie aus den Workshops kann zusammen mit unseren Coaches im realen Umfeld geübt werden.<br /><br />
		    timetochange ist eine junge und dynamische Einzelunternehmung mit einer dreiköpfigen Geschäftsleitung, einer Stabstelle von einer Person und zwei weiteren, als Coach mitarbeitenden Personen:<br /><br />
		    
		    <img src="/site_media/t2c/organigramm.gif" /><br /><br />

		    
		    Unser Ziel ist, ein Angebot zu schaffen, welches Männern mit verschiedenem sozialen Hintergrund helfen soll, ihr Leben aktiver, abwechslungsreicher und spannender zu gestalten - und vor allem: An der Seite der schönsten Frauen die diese Welt zu bieten hat.<br /><br />
		    Wir gehen mit dem Thema Persönlichkeitsentwicklung gesamtheitlich um. Das heisst, dass sowohl die innere, psychische Verfassung, sowie das Äussere in Form von Mode, Gestik, Mimik unserer Kunden analysiert wird und dem entsprechend jedem das passende Angebot an Coaching präsentiert werden kann.<br /><br />
		    Nebenbei ist timetochange ständig darum bemüht, das Angebot durch weitere Coaches, Partnerschaften oder Anderem erweitern zu können.<br /><br /><br />
		    Es ist höchste Zeit:<br /></p>
		    <h1>Its time to change your life!</h1><br />


    {% endblocktrans %}
    
{% endblock %}
