{% extends "site_base.html" %}

{% load i18n %}

{% block body %}
    {% blocktrans %}

	<h1>Willkommen auf der Homepage von timetochange<br /></h1>
	<p>Deinem Spezialisten für Verführung und spezifische Persönlichkeitsentwicklung.<br /><br />
	Hast Du es satt bei Frauen immer nur die Kollegenrolle zu übernehmen, Hunderte von Franken für Singleseiten und Chats auszugeben, die nicht zum erhofften Erfolg führen?<br /><br />
	Möchtest Du im Job, in der Freizeit und in deinem Umfeld akzeptiert und respektiert werden?<br /><br />
	Für all das hat Dir timetochange eine Lösung.<br /><br />
	Bei timetochange lernst Du mit anderen, oder alleine, die Verführung und Entwicklung des Selbst kennen. Dabei wirst Du von kompetenten Coaches unterstützt. Du wirst viele neue Leute kennen lernen und mit ihnen viel Spass haben.<br /><br />

	Du wirst zusammen mit Coaches lernen, Frauen anzusprechen und zu Verführen.<br /><br />
	Wir liefern Antworten und zeigen dir wie Du selbst mehr erreichen kannst.<br /><br />
		</p>                                
	<h1>Its time to change your life!</h1>

    {% endblocktrans %}
    
{% endblock %}

{% block right_box %}
	<div class="white_box3">
		<h1>About us<img src="/site_media/t2c/t2c_thumb.jpg" alt="timetochange-Logo" class="thumb"></h1>
		<p>
		Timetochange ist eine Coaching Firma, die sich mit Deinem Erfolg beschäftigt.<br /> Unsere Coaches bieten Einzel- und Gruppenseminare zu den Themen Verführung und Persönlichkeitsentwicklung.
		<br /><a href="/aboutus/" class="mehr">Mehr Lesen....</a></p>
        </div>
{% endblock %}
